body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

header p {
  font-style: italic;
  margin-top: 10px;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#profile-pic {
  height: 100px;
  width: 30px;
  border-radius: 80%; /* Creates a perfect circle */
  margin-bottom: 20px;
}

h1, h2 {
  color: #333;
}

a {
  color: #0077cc;
  text-decoration: none;
}

.social-links {
  list-style: none;
  padding: 0;
}

.social-links li {
  margin-bottom: 10px;
}

.social-links a {
  display: flex;
  align-items: center;
  color: #0077cc;
  text-decoration: none;
}

.social-links i {
  margin-right: 10px;
  font-size: 1.2em;
}

